<h1>My Todo</h1>

<div *ngIf='message' class="alert alert-success">
  {{message}}
</div>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <!--    <th>id</th>-->
      <th>Description</th>
      <th>Target date</th>
      <th>Status</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let todo of todos">
      <!--    <td>{{todo.id}}</td>-->
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date}}</td>
      <td>{{todo.done}}</td>
      <td>
        <button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button>
      </td>
      <td>
        <button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button>
      </td>
    </tr>
    </thead>
  </table>

  <div class="row">
    <button (click)="addTodo()" class="btn btn-success"> Add</button>
  </div>

</div>
