<h1>Todo</h1>

<div class="container">
  <fieldset class="form-group">
    <label>Description</label>
    <input [(ngModel)]="todo.description" class="form-control" name="description" required="required" type="text">
  </fieldset>

  <fieldset class="form-group">
    <label>
      Target Date
    </label>
    <input [(ngModel)]="todo.targetDate" class="form-control" name="description" required="required" type="date">
  </fieldset>

  <button (click)="saveTodo()" class="btn btn-success">Save</button>
</div>
